@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.woff2') format('woff2'),
    url('Lato-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('Lato-Regular.woff2') format('woff2'),
    url('Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-It';
  src: url('Lato-It.woff2') format('woff2'), url('Lato-It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifTC-Bold';
  src: url('NotoSerifTC-Bold.woff2') format('woff2'),
    url('NotoSerifTC-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifTC-Regular';
  src: url('NotoSerifTC-Regular.woff2') format('woff2'),
    url('NotoSerifTC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
